<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">

<head>
    <title>Hello world !</title>
</head>
<body>

<h2>Hello, <!--/*@thymesVar id="notinspiredtocomeupwithagoodvariablename" type="java.lang.String"*/-->
<span th:text="${notinspiredtocomeupwithagoodvariablename}">Some User</span>!</h2>

</body>
</html>